extends layout.pug

block title
  title= __('HELP_US_TRANSLATE_EVENT', eventName) + ' – ' + __('SITE_NAME')

block scripts
  script(type='text/javascript', src='static/index.js')

block content
  .wrapper.stack-l
    header.main-header.stack
      h1= __('HELP_US_TRANSLATE_EVENT', eventName)
      p= __('INTRO_TEXT', eventName)
      p= __('INTRO_GET_STARTED')
    .stack-s
      input.needs-js#filter(type='text', placeholder=__('Start typing to find talks by name or speaker'), autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', aria-label='Search')
      .link-list
        each talk in talks
          a.link-list__item(href=`/talks/${talk.id}/`, data-filter-string=`${talk.title} ${talk.speakers.join(' ')}`)
            p.link-list__primary
              = talk.title
            p.link-list__secondary
              = talk.speakers.join(', ')
              = ' · '
              span(class=(talk.files.length ? 'label label-success' : 'label label-warning'))
                = __n('%s files uploaded', talk.files.length)
              =' '
              if talk.commentFiles.length
                span.label.label-info= __n('%s comments', talk.commentFiles.length)
    if scheduleVersion
      footer
        p.text-muted.small= __('Schedule version: %s', scheduleVersion)
